{% extends "admin/base_site.html" %}
{% load i18n %}
{% block title %}{{ site_title|default:_('Mobile Accessories Admin') }}{% endblock %}
{% block content %}
<h1>{{ site_header|default:_('Mobile Accessories Inventory Management') }}</h1>
<div class="password-reset">
    <p>{% blocktrans %}Forgotten your password? Enter your email address below, and we'll email instructions for setting
        a new one.{% endblocktrans %}</p>
    <form method="post">{% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Reset my password">
    </form>
</div>
{% endblock %}